[build]
  base = "FrontEnd/my-app"
  publish = "FrontEnd/my-app/dist"
  command = "npm ci && npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200