.lista-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}

.produto {
  background-color: #fff;
  padding: 15px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
  overflow: hidden;
}

.produto img {
  width: 100%;
  max-width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.produto h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.produto p {
  font-size: 1rem;
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.button-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.button-carrinho, .button-comprar {
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-carrinho {
  background-color: #ccc;
}

.button-comprar {
  background-color: #187900;
  color: white;
}

.span-paginacao {
  color: #ccc;
}
