.controle-produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background: linear-gradient(to bottom, #1a1a1a, #2b2b2b);
    padding: 80px 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    max-width: 800px;
    margin: 60px auto;
  }
  
  .h2-controle {
    background-color: #111;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .h2-controle h2 {
    color: #e50914;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 800;
  }



.lista-produtos {
    margin-top: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .titulo-lista {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .itens-produtos {
    list-style: none;
    padding: 0;
  }
  
  .item-produto {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .botoes-produto {
    display: flex;
    gap: 10px;
    margin-top: 8px;
    padding: 6px;
  }
  
  .botao-atualizar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .botao-deletar {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .botao-atualizar:hover,
  .botao-deletar:hover {
    opacity: 0.9;
  }
  
  .mensagem-erro {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }