header {
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
  background-color: #232f3e;
  padding: 20px;
  width: 100% auto;
  margin: 0;
}
.titulo-principal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 20px;
    color: white;
    font-weight: 600;
    position: absolute;
  }
}

.div-usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 600px) {
  .div-usuario {
    display: flex;
    flex-direction: row;
  }
}
.div-login {
  button {
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
  }
  button:hover {
    color: white;
    transition: 0.5s;
  }
}
.div-registro {
  button {
    white-space: nowrap;
    background-color: #570000;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(44, 0, 0);
    transition: 0.5s;
  }
}
