body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #141414f3;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  padding: 12px;
  width: 300px;
  border-radius: 4px;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414f3;
  gap: 80px;
  margin-top: 40px;
  border-radius: 20px 20px 0 0;
  padding: 35px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  h5 {
    font-weight: 900;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
  a {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    color: #d4d3d3;
    padding: 5px;
  }
  a:hover{
    border-bottom: 1px solid #b2070f;
  }
}

label {
  padding: 6px;
  color: white;
  font-size: 10px;
  font-weight: 700;
  border-radius: 4px;
}

.div-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #c0c0c0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}
